/* Form styles */
#loginForm,
#registrationForm,
#newPostForm,
#editPostForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: blue;
  
}
